@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.page-wrapper {
	@apply mx-auto w-full max-w-[80rem] overflow-hidden px-[5%];
}

.clerk-input {
	box-sizing: border-box;
	margin: 0px;
	padding: 0.375rem 0.75rem;
	background-color: white;
	color: rgb(19, 19, 22);
	outline: transparent solid 2px;
	outline-offset: 2px;
	max-height: 2.25rem;
	width: 100%;
	aspect-ratio: unset;
	accent-color: rgb(47, 48, 55);
	font-family: inherit;
	letter-spacing: normal;
	font-weight: 400;
	font-size: 0.8125rem;
	line-height: 1.38462;
	border-radius: 0.375rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.11);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 1px 0px;
	transition-property:
		background-color, background, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: ease;
	transition-duration: 200ms;
}
